<h1>{{nazwaanimacji1}}</h1> <br>
<img [src]="foto1" alt="nazwaanimacji" class="zdjecia" [class.animacja1] = 'animacja1' (click)="toggleAnimacja1()"><br>
<p>Kliknij na foto aby zobaczyc animacje</p><br>

<h1>{{nazwaanimacji2}}</h1> <br>
<img [src]="foto2" alt="nazwaanimacji" class="zdjecia" [class.animacja2] = 'animacja2' (click)="toggleAnimacja2()"><br>
<p>Kliknij na foto aby zobaczyc animacje</p><br>


<h1>{{nazwaanimacji3}}</h1> <br>
<img [src]="foto3" alt="nazwaanimacji" class="zdjecia" [class.animacja3] = 'animacja3' (click)="toggleAnimacja3()"><br>
<p>Kliknij na foto aby zobaczyc animacje</p>