.zdjecia{
    width: 250px;
    border: 1px solid greenyellow;
    border-radius: 20px;
    padding: 15px;
    height: auto;
    cursor: pointer;
    transform: mojaanimacja 0.4s ease;
}
.zdjecia.zoom{
    transform: scale(2);
}