.zdjecia{
    width: 250px;
    border: 1px solid greenyellow;
    border-radius: 20px;
    padding: 15px;
    height: auto;
    cursor: pointer;
    opacity: 0.33;
}
.zdjecia.opacity{
    opacity: 1;
}